---
interface Props {
	downloadUrl: string;
	label: string;
}
const { downloadUrl, label } = Astro.props as Props;
---

<a class="animated-gradient inline-block text-lg font-medium rounded-lg px-5 py-2.5 text-center w-full hover:cursor-pointer"
	href={downloadUrl} download>
	{label}
</a>
