---
interface Props {
  words: string[];
}

const { words } = Astro.props as Props;
const typewriterId = `typewriter-${new Date().getTime()}`;
---

<script is:inline src="/libs/typewriter-js/typewriter-js.min.js"></script>
<script is:inline define:vars={{words, typewriterId}} >
document.onreadystatechange = function () {
  if (document.readyState == "interactive") {
    new Typewriter(`#${typewriterId}`, {
      strings: words,
      autoStart: true,
      loop: true
    }).start();
  }
}
</script>

<span id={typewriterId} ></span>