---
import '../styles/global.css'

import BaseLayout from '../layout/base.astro'
import NoResponsiveDialog from '../components/astro/no-responsive-dialog/index.astro'
import Portfolio from '../components/astro/portfolio/index.astro'

---

<BaseLayout>
    <main class="border-4 border-slate-600 rounded-xl flex flex-col h-full w-full">
        <NoResponsiveDialog />
        <Portfolio />
    </main>
</BaseLayout>
