
<script is:inline src="/libs/particles-js/particles.min.js"></script>
<script is:inline>
particlesJS.load('particles-js', '/libs/particles-js/custom-config.json');
</script>

<div id="particles-js" class="absolute top-0 left-0 h-screen w-screen bg-slate-900 -z-[1]"></div>